extends ../layout/main-layout 
block content
    if !profileUser 
        span.error_messagee Xin lỗi, chúng tôi không thầy đường dẫn(URL) của bạn. Hãy thử kiểm tra lại.
    else 
        script.
            var profileUserId= '!{profileUser._id}';
            var selectedTab= '!{selectedTab}';

        .profile__header-container 
            .cover-photo__section
                .cover-photo__container 
                    if profileUser.coverPhoto
                        img(src="/assets/images/users/coverPhotos/"+profileUser.coverPhoto, alt="User's cover photo")

                    if profileUser._id.toString() === user._id.toString()
                        button.cover-photo__button(data-bs-toggle="modal", data-bs-target="#coverPhotoUploadModal")
                            i.fas.fa-camera
                    
                .user__image-container
                    img(src="/assets/images/users/profilePics/"+profileUser.profilePic, alt="User profile image")
                    
                    if profileUser._id.toString() === user._id.toString()
                        button.profile__picture-button(data-bs-toggle="modal", data-bs-target="#imageUploadModal")
                            i.fas.fa-camera
                            
            .profile__buttons-container 
                - if (profileUser._id.toString() != user._id.toString())
                    a.profile__button(href=`/messages/${profileUser._id}`) 
                        i.fas.fa-envelope

                    - var profileUserId= profileUser._id.toString()
                    - if (user.following && user.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else 
                        +createFollowButton(profileUser, false)

            .user__details-container 
                span.displayName= `${profileUser.firstname} ${profileUser.lastname}`
                span.username= `@${profileUser.username}`
                span.description= profileUser.description

                .followers-container 
                    a(href=`/profile/${profileUser.username}/following`) 
                        span#followingValue.value= profileUser.following.length
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`) 
                        span#followersValue.value= profileUser.followers.length
                        span Followers

        .tabs-container 
            +createTab('Posts', `/profile/${profileUser.username}`, selectedTab != 'replies')
            +createTab('Replies', `/profile/${profileUser.username}/replies`, selectedTab == 'replies')

        .post__container 

        +createPostModal(user)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()

block scripts
    script(src="/js/profile/imageUpload.js") 
    script(src="/js/profile/loadPosts.js") 
    script(src="/js/profile/loadReplies.js") 
    script(src="/js/profile/index.js") 
    script(src="/js/users/follow.js") 
    script(src="/js/helpers/post.js") 
    script(src="/js/helpers/common.js") 
