extends ../layout/login-layout 
block content 
    a(href="/login").switch
        | Sign In
    h1.title.fz-md.text-dark Tạo mật khẩu mới
        p.fz-lg.text-primary= payload.email
    
    if errors.length
        +alertError(errors)
        
    form#resetPassword.form(method="POST")
        -var invalidPassword = errorMessages && errorMessages['password'] ? 'invalid':''
        -var invalidPasswordConfirm = errorMessages && errorMessages['passwordConfirm'] ? 'invalid':''
        -var password = password
        -var passwordConfirm = passwordConfirm
        .input-group(class=invalidPassword)
            label(for='passwordReset')
                span.message #{errorMessages ? errorMessages['password'] : 'Password'}
            input#passwordReset.input-field(type='password', value=password ,name='password', placeholder='Mật khẩu mới...')

        .input-group(class=invalidPasswordConfirm)
            label(for='passwordResetConfirm')
                span.message #{errorMessages ? errorMessages['passwordConfirm'] : 'Password Confirm'}
            input#passwordResetConfirm.input-field(type='password', value=passwordConfirm ,name='passwordConfirm', placeholder='Nhập lại mật khẩu...')
        button.submit-btn Lưu
